modules = ["nodejs-20"]
run = "node index.js"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Test"

[[workflows.workflow]]
name = "Run Both"
author = 24962583
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Test"
mode = "sequential"
author = 24962583

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node Challenges/Test.js"

[[workflows.workflow]]
name = "Code"
mode = "sequential"
author = 24962583

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node Codes *.js"

[[ports]]
localPort = 5000
externalPort = 80
