modules = ["nodejs-20"]
run = "node index.js"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]

[[workflows.workflow]]
name = "webpage"
mode = "parallel"
author = 24962583

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "webpage"
